<%- include("partials/header") -%>

    <div class="box" id="heading">
        <h1>Developers</h1>        
    </div>

    <div class="box">
        <% developers.forEach(dev => { %>
            <div class="item <%= dev.active ? '' : 'deleted' %>">
                <div class="item-name"><%= dev.name %></div>
                <% if (dev.active) { %>
                    <div class="actions">
                        <a class="btn btn-outline-primary btn-lg" href="/developers/<%= dev._id %>">Details</a>
                    </div>
                    <div class="actions">                        
                        <a class="btn btn-outline-primary btn-lg" href="/developers/<%= dev._id %>/delete">Delete</a>
                    </div>                    
                <% } %>                  
            </div>           
        <% }) %>

        <form class="item" action="/developers" method="post">
            <input type="text" name="name" placeholder="New developer" autocomplete="off">
            <button type="submit">+</button>
        </form>
    </div>

<%- include("partials/footer") -%>