<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://use.fontawesome.com/releases/v5.10.0/js/all.js"></script>
    <link rel="stylesheet" href="/css/styles.css">    
    <title>UA team pull requests summary</title>
</head>
<body>
    <div class="container">
        <h1 class="header">Pull requests summary</h1>
        <div class="sprint">
            <form action="/" method="post">
                <label for="sprint-number">Sprint</label>
                <select class="sprint-number" name="sprintNumber" onchange="this.form.submit()">
                    <!-- Change first to use node in order to populate options, then switch to mongoose -->
                    <option value=""></option>
                    <option value="132">132</option>
                    <option value="131">131</option>
                    <option value="130">130</option>
                    <option value="129">129</option>
                    <option value="128">128</option>
                    <option value="127">127</option>  
                </select>
                <div class="summary">
                    <% devs.forEach(dev => { %>
                        <div class="progressbar <%= dev.status %>" style="width: <%= dev.width %>px;">
                            <span><%= dev.position %></span>
                            <i class="<%= dev.icon %>"></i>
                            <p><%= dev.fullName %></p>
                            <p class="diff"><%= dev.count %><em><%= dev.diff %></em></p>
                        </div>
                    <% }) %>
                </div>
            </form>            
        </div>
    </div>
</html>