<%- include("partials/header") -%>

<div class="box" id="heading">
    <h1><%= developer.name %></h1>        
</div>

<div class="box narrow">
    <form class="item" action="/developers/pullRequests" method="post">
        <input type="hidden" name="devName" value="<%= developer.name %>">
        <div class="form-group">
            <div class="row">
                <div class="col-3 text-left">
                    <label for="sprint">Sprints:</label>
                </div>
                <div class="col-6">
                    <input class="form-control" list="sprints" name="sprint" id="sprint">
                    <datalist id="sprints">
                        <% sprints.forEach(sprint => { %>
                            <option value="<%= sprint.number %>">
                        <% }) %> 
                    </datalist>
                </div>
            </div>   
            
            <div class="row">
                <div class="col-t text-left">
                    <label for="count">PR this sprint</label>
                </div>
                <div class="col-6">
                    <input  class="form-control"
                    type="number" 
                    id="count" 
                    name="count" 
                    min="<%= prevCount %>" 
                    max="999" step="1" value="<%= prevCount %>">
                </div>               
            </div> 
            
            <button class="btn btn-primary align-left" type="submit">Update</button>  
        </div>                    
    </form>
</div>

<%- include("partials/footer") -%>