<%- include("partials/header") -%>

    <div class="box" id="heading">
        <h1>Sprints</h1>        
    </div>

    <div class="box">
        <% sprints.forEach(sprint => { %>
            <div class="item">
                <div class="item-name"><%= sprint.name %></div>
                <div class="item-name"><%= sprint.goal %></div>
                <div class="actions">
                    <a class="btn btn-outline-primary btn-lg" href="/sprints/<%= sprint.number %>">Details</a>
                </div>                
            </div>           
        <% }) %>

        <form class="item" action="/sprints" method="post">
            <div>
                <input type="hidden" name="sprintNumber" value="<%= nextSprintNumber %>">
                <input type="text" name="goal" placeholder="Sprint goal" autocomplete="off">
            </div>
            <div>
                <label class="w-10">Sprint dates:</label>
                <input type="date" name="from" placeholder="from">
                <input type="date" name="from" placeholder="to">
            </div>            
            <button type="submit" class="btn-small">+</button>
        </form>
    </div>

<%- include("partials/footer") -%>
