<%- include("partials/header") -%>

    <div class="box" id="heading">
        <h1>Pull requests summary</h1>        
    </div>

    <div class="summary">
        <% devs.forEach(dev => { %>
            <div class="progressbar <%= dev.status %>" style="width: <%= dev.width %>px;">
                <div class="stat">
                    <span><%= dev.position %></span>
                    <i class="<%= dev.icon %>"></i>
                    <% if (dev.hasAward) { %>
                        <i class="fas fa-award"></i>
                    <% } %>
                </div>                
                <div class="name"><%= dev.fullName %></div>
                <div class="diff"><%= dev.count %><em><%= dev.diff %></em></div>
            </div>
        <% }) %>
    </div>

    <div class="navigation">
        <% if (prevSprint !== null) { %>
            <div>
                <a class="btn btn-outline-primary btn-lg" href="/sprints/<%= prevSprint %>">Prev</a>
            </div>
        <% } %>
        <% if (nextSprint !== null) { %>
            <div>
                <a  class="btn btn-outline-primary btn-lg"href="/sprints/<%= nextSprint %>">Next</a>
            </div>  
        <% } %> 
    </div>

<%- include("partials/footer") -%>
